.article2{
    background-image: url(../images/bg_06.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.article2--noi-dung{
    background: #ffff;
    height: 410px;
    padding: 40px 10px;
    color: #5d5757;
}
.article2-row{
    margin: 50px 0px;
}
.article2--h3 {
    font-size: 25px;
    font-weight: 800;
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0px;
    height: 130px;
    font-style: italic;
}
.article2--h3 h3{
    font-size: 25px;
}
.article2--h3 a{
    color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.article2--h3 a:hover{
    color: #02b3f9;
}
.article2--noi-dung{
    font-size: 12px;
}
.article2--noi-dung .p p{
    font-size: 12px;
    padding-bottom: 15px;
}

.article3 .tin-tuc{
    text-align: center;
    padding: 50px 0px;
   
}
.article3 .tin-tuc h3{
    color: #5b5c5e;
    font-size: 35px;
    font-style: italic;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.tin-tuc-p1 h3{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 20px 0;
    height: 70px;
    text-align: justify;
}
.tin-tuc-p1 h3 a{
    color: #1f97c4;
}
.tin-tuc-p1 a:hover{
    color: #63d3fc;
}

.tin-tuc-p2{
    font-size: 17px;
    color: #838383;
}
.div--xemthem {
    padding-top:  15px;
}
.div--xemthem a{
    color: #1cbbfa;
    font-weight: 700;
    font-style: inherit;
}
.div--xemthem a:hover{
    color: rgb(137, 137, 230);
}
.conten {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

}
.m-15px{
    margin: auto -15px;
}
.conten .slick-slide{
    padding: 0px 15px;
}
.conten .slick-slide img{
    margin: 0 auto; 
}
/* .h3-ft2{
    padding-bottom: 40px;
} */