.footer{
    background-image: url(../images/bgfooter_06.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.img-ft{
    padding: 30px 150px;
}
.footer-p1{
    text-align: left;
    font-size: 14px;
    color: #ffffff;
}
.footer-p1 p {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.footer-p1 h3{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 900;
    color: #48c8fb;
}
.footer-p1 a:hover{
    color: #48c8fb;
    opacity: 0.9;
}

.footer-p2{
    padding-top: 120px;
    font-size: 14px;
    color: #48c8fb;
    font-weight: 800;
    
}
.footer-p2 ul li{
    margin-left: -17px;
    color: #fff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.footer-p2 a p:hover{
    color: #48c8fb;
    opacity: 0.9;
}

.footer--p3{
    text-align: right;
    color: #fff;
    font-size: 14px;
    color: white;
    padding-top: 120px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.footer--p3 .ft-p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 900;
    color: #48c8fb;
}

.footer-icon{
    text-align: right;
}
.footer-icon a img:hover{
   transform: scale(1.2);
}
.footer-icon img{
    padding: 5px;
}
.footer2 {
    background: #fff;
    /* padding: 10px 0; */
}
.footer2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    color: #323233;
    margin-bottom: 0;
}
.footer2 p a{
    font-size: 12px;
    font-weight: bold;
    color: #0094b8;
    
}
.b{
    color: #0094b8;
}
.li-a{
    color: #ffffff;
}
.li-a:hover{
    color: #127abf;
}

.footer-p2 .ft-p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #48c8fb;
}