@media screen and (width: 360px){
    .box-header-top .block-contact {
        text-align: left;
        padding: 10px 0px;
    }
    .block-contact--addcart {
        padding: 6px 8px;
    }
    .block-contact--addcart .products-addcart {
        font-size: 10px;
        right: 5px;
    }
    .box-header-top .block-search {
        padding: 10px;
    }
    .box-header-top .block-search i {
        top: 17px !important;
    }
    .box-header-top .block-contact p {
        font-size: 10px;
    }
    .block-content .block-content--bg {
        margin: 0 auto;
        width: 135px;
        height: 135px;
    }
    .block-content .block-content--bg a img{
        width: 80%;
    }
    .block-content--boxshadow h3 a {
        font-size: 14px;
    }
    .block-content--boxshadow {
        padding: 10px 5px;
    }
    .box-prominence-products ul {
        font-size: 9px;
    }
    .block-products-price .products-price {
        font-size: 10px !important;
    }
    .block-products-price .products-price-sale {
        font-size: 10px !important;
        margin-left: 0px;
    }
    .block-products--content h3 a {
        font-size: 11px;
    }
    .box-prominence-products .block-product .block-addtocart p a {
        font-size: 10px;
    }
    .box-prominence-products .see-all a {
        font-size: 11px;
    }
    .box-products-insets .block-border-content .products-name {
        padding: 10px 5px;
        height: 50px;
    }
    .box-products-insets .block-border-content .products-name a {
        font-size: 11px;
    }   
    .box-footer .block-content--policy a {
        font-size: 12px;
        line-height: 30px;
    } 
    .box-footer .block-title {
        font-size: 16px;
    }
    .block-content--contact{
        font-size: 12px;
    }
    .box-hot-products .block-products .block-products--hot {
        top: 4px;
        padding: 3px 9px;
    }
    /* gioi thieu */
    .box-introduce--bottom .content h2 {
        font-size: 24px;
    }
    .box-product-groups {
        padding: 30px 0px;
    }
    .wsmobileheader .logo-img img {
        margin-left: 14% !important;
    }
    .box-introduce .block-title {
       font-size: 20px;
    }
    .block-content .block-content--name {
        padding: 15px 0px;
    }
    /* search */
    .article-search .border-content .products {
        font-size: 12px !important;
    }
    /* add card */
    .box-header-shopcard .modal-content {
        width: 98% !important;
    }
    .box-header-shopcard .cart-quantity-input {
        margin-left: -20px;
        margin-right: 4px;
    }
}
@media screen and (max-width: 415px){
    .block-contact--addcart {
        padding: 6px 8px;
        top: 28px;
    }
    .block-contact--addcart .products-addcart {
        font-size: 10px;
        right: 5px;

    }
    .wsmenu>.wsmenu-list li a {
        line-height: 30px;
    }
    .block-products .block-addtocart {
        opacity: 1;
    }
    .block-content .block-content--bg {
        margin: 0 auto;
    }
     .wsanimated-arrow {
        margin: 0px 0 0 15px;
    }
    .box-header .wsmobileheader .wsanimated-arrow .logo-img{
        margin-left: -15%;
    }
    .wsmobileheader .logo-img img{
        width: 15%;
        margin-left: -15%;
    }
    .wsanimated-arrow {
        padding: 15px 35px 16px 0px;
    }
    .wsmenu>.wsmenu-list>li>a {
        font-size: 12px;
    }
    .wsmobileheader .login{
        float: right;
        margin-right: 20px;
        margin-top: 5px;
        font-size: 13px;
    }
    .box-hot-products {
        padding-top: 15px;
    }
    .block-logo-left img{
        display: none;
    }
    .block-contact {
        text-align: right;
        padding: 15px 0px;
    }
    .block-contact p {
        display: inline;
        font-size: 10px;
        text-transform: uppercase;
    }
    .block-contact a {
        font-size: 11px;
        font-weight: 600;
        transition: ease all 0.5s;
    }
    .block-slickder .slick-dots li button:before {
        border: 2px solid #fff;
        width: 10px;
        height: 10px;
    }
    .block-slickder .slick-dots {
        bottom: 2px;
    }
    .block-slickder .slick-dots li
    {
        margin: 0 auto;
    }
    .box-header-top .block-contact a {
        margin: 0px 4px
    }
    .box-header-top .block-search i {
        top: 36px;
    }
    .block-content .block-content--name a {
        font-size: 15px;
    }
    .slick-dots li.slick-active button:before {
        border: 2px solid #ff6f00;
        width: 10px;
        height: 10px;
    }
    .block-search {
        padding: 15px 0px;
    }
    .block-search i {
        top: 22px;
    }
    .block-contact .login {
        display: none;
    }
    .block-search .form-control {
        font-size: 10px;
    }
    .block-content--boxshadow h3 a {
        font-size: 13px;
    }
    .block-content--boxshadow{
        margin-bottom: 23px;
    }
    .block-products--title{
        font-size: 14px;
    }
    .box-banner-company .block-company--motto p {
        font-size: 14px;
    }
    .box-banner-company .block-company--motto .title-commitment {
        font-size: 16px;
    }
    .box-banner-company .block-company--motto .title {
        font-size: 16px;
    }
    .box-banner-company{
        padding: 16px 0px;
    }
    .box-prominence-products {
        padding-top: 20px;
    }
    .box-prominence-products ul {
        float: left;
        font-size: 11px;
        margin-top: 10px;
    }
    .box-prominence-products .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        padding: 8px 10px;
    }
    .block-products-price .products-price {
        font-size: 12px;
    }
    .block-products-price .products-price-sale {
        font-size: 12px;
    }
    .block-products--content {
        padding: 10px;
    }
    .block-products--content h3 a {
        font-size: 12px;
        height: 20px;
    }
    .box-hot-products .block-products .block-addtocart p a {
        font-size: 12px;
    }
    .block-products .block-addtocart {
        padding: 5px 0px;
    }
    .banner-about-us .about-us-img {
        padding: 50px 0px;
    }
    .banner-about-us .about-us-img .content .span-shopping {
        margin: 10px 0px 5px 0px;
    }
    .box-prominence-products .block-product .block-addtocart {
        padding: 5px 0px;
        opacity: 1;
    }
    .box-prominence-products .block-product .block-addtocart p a {
        font-size: 12px;
    }
    .box-prominence-products .see-all {
        padding: 20px 0px 40px;
    }
    .box-products-insets {
        padding: 25px 0px;
    }
    .box-products-insets .block-border-content {
        margin-top: 15px;
    }
    .box-products-insets .block-border-content .products-name a {
        font-size: 13px;
    }
    .box-banner-gmail {
        padding: 30px 0px;
        font-size: 12px;
    }
    .box-banner-gmail .form-mail {
        font-size: 12px;
    }
    .box-banner-gmaill a {
        font-size: 11px;
    }
    .box-featured-news {
        padding: 25px 0px;
    }
    .box-featured-news .block-featured--content a {
        width:100%;
        font-size: 12px;
    }
    .banner-logo {
        padding: 10px 0px;
        width: 100%;
        height: 90px;
    }
    .box-footer .block-images--myhome {
        margin-top: 15px;
    }
    .box-footer-bottom .block-footer--content p {
        padding: 0;
        font-size: 10px;
        margin: 0 auto;
    }
    .box-footer .block-title {
        padding: 15px 0px 0px 0px;
    }
    /* gioi thieu */
    .box-introduce img{
        width: 100%;
    }
    .box-introduce .block-title {
        margin: 0 auto;
        padding: 20px 0px 0px;
    }
    .box-introduce .block-intext {
        font-size: 13px;
        padding: 5px 0px 0px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin: 0 auto;
    }
    .box-introduce .see {
        color: #ff3d3d;
        padding: 0px;
        font-size: 13px;
    }
    .ftco-section .nav-pills .nav-link {
        font-size: 15px;
    }
    .ftco-section h2 {
        padding: 5px 0px 5px 0px;
        font-size: 27px;
    }
    .acticle-contact .margin-icon .background-icon {
        margin: 30px 0px;
    }
    .block-featured{
        margin: 0px 5px;
    }
    .box-introduce--bottom .block-content h3 {
        color: #fff;
        font-size: 26px;
    }
    /* search */
    .article-search .gallery-title {
        font-size: 25px;
    }
    .article-search .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        margin: 5px 2px;
    }
    .article-search .filter-button {
        font-size: 15px;
    }
    .article-search .border-content .products {
        padding: 10px 5px;
        height: 50px;
    }
    /* tin tuc */
    .block-news--content .block-content {
        padding:10px;
    }
    .block-news--content .block-content .block-content--intext {
        margin: 15px 0px;
    }
    .box-news .block-title {
        font-size: 20px;
    }
    .box-article--news .block-number .counter {
        font-size: 30px;
    }
    .box-article--news .block-title {
        font-size: 13px;
    }
    /* form login */
    .box-login .block-login--form {
        padding: 25px 15px;
        background: #fff;
    }
    .box-login .block-login--form .form-group {
        padding: 15px 0px;
    }
    .box-login {
        background: #f4f3f3;
        padding: 10px;
    }
    .box-login .block-login--form .form-login .block-forgotpass {
        text-align: right;
        padding: 5px 0px 10px;
    }    
    .box-login .block-login--form .form-login .block-forgotpass a{
        font-size: 13px;
    }
    .block-login--form .login-bnt .login-form-btn {
        font-size: 13px;
        height: 35px;
    }
    /* shopping card */
        /* // shopping card */
        .box-shopcard .main-product {
            margin-bottom: 20px;
        }
        .box-shopcard .main-product .block-addtocart {
            text-align: center;
            padding: 10px 0px;
            background: #ff6f00;
            opacity: 1;
            transition: all ease 0.5s;
        }
        .box-shopcard .main-product .block-addtocart .btn-cart {
            font-size: 15px;
        }
    .box-header-shopcard .modal-content {
        width: 98% !important;
    }
}

@media screen and (width: 768px){
    .block-contact--addcart {
        top: 35%;
        padding: 7px 12px;
    }
    .block-contact--addcart .products-addcart{
        font-size: 11px;
    }
    .wsmenu>.wsmenu-list li a {
        line-height: 30px;
    }
    .block-logo-left img{
        display: none;
    }
    .block-contact .login {
        display: none;
    }
    .wsanimated-arrow {
        margin: 0px 0 0 15px;
    }
    .wsmobileheader .logo-img{
        margin-left: -15%;
    }
    .wsmobileheader .logo-img img{
        width: 12%;
    }
    .wsmobileheader .login{
        float: right;
        margin-right: 20px;
        margin-top: 10px;
    }
    .box-footer .block-images--logo img {
        width: 25%;
    }
    .block-contact {
        text-align: right;
        padding: 29px 0px;
    }
    .block-contact p {
        display: inline;
        font-size: 10px;
        text-transform: uppercase;
    }
    .block-contact a {
        font-size: 11px;
        font-weight: 600;
        transition: ease all 0.5s;
    }
    .block-contact .login {
        display: none;
    }
    .block-content .block-content--bg {
        margin: 0 auto;
    }
    .block-content .block-content--name a {
        margin: 0 auto;
        font-size: 15px;
    }
    .block-content .block-content--name {
        padding: 15px 0px;
    }
    .block-products-price .products-price-sale {
        font-size: 15px;
    }
    .block-content--boxshadow {
        margin-bottom: 25px;
    }
    .box-hot-products {
        padding-top: 10px;
    }
    .box-hot-products .block-products {
        margin: 15px 10px;
    }
    .box-banner-company .block-company--motto .title {
        font-size: 22px;
    }
    .box-banner-company .block-company--motto .title-commitment {
        font-size: 22px;
    }
    .box-banner-company{
        padding: 30px 0px;
    }    
    .box-prominence-products ul {
        margin-top: 10px;
    }
    .box-prominence-products .block-product img {
        margin: 0 auto;
        width: 100%;
    }
    .block-products .block-addtocart {
        opacity: 1;
    }
    .box-hot-products .block-products .block-addtocart p a {
        font-size: 13px;
    }
    .box-prominence-products .block-product .block-addtocart p a {
        font-size: 13px;
    }
    .box-prominence-products .block-product .block-addtocart {
        opacity: 1;
    }
    .box-prominence-products .see-all {
        text-transform: uppercase;
        padding: 20px 0px 40px 0px;
    }
    .banner-about-us .about-us-img .content .span-shopping {
        display: block;
        margin: 10px 0px 5px 0px;
    }
    .banner-about-us .about-us-img {
    padding: 20px 0px;
    }
    .box-products-insets .images-bg img{
        width: 100%;
    }
    .box-banner-gmail{
        padding: 30px 0px;
    }
    .box-products-insets {
        padding: 25px 0px;
    }
    .box-products-insets .block-border-content {
        margin-top: 25px;
    }
    .box-featured-news {
        padding: 25px 0px;
    }
    /* .box-featured-news .slick-prev, .slick-next {
        top: 19%;
    } */
    .block-featured{
        margin: 0px 5px;
    }
    .box-featured-news .block-featured--content a {
        width: 100%;
        font-size: 12px;
    }
    .box-footer-bottom .block-footer--content p {
        margin: 0 auto;
    }
    /* gioi thieu */
    .box-introduce a img{
        width: 100%;
    }
    .box-introduce .block-title {
        padding:10px 0px;
        margin: 0 auto;
    }
    .box-introduce--bottom .block-content h3 {
        color: #fff;
        font-size: 30px;
    }
    /* product */
    .ftco-section a .fa-star {
        font-size: 15px;
    }
    .ftco-section .content p {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .ftco-section .image-popup img{
        height: 432px;
    }
    /* lien he */
    iframe{
        height: 400px;
    }
    .acticle-contact .margin-icon .background-icon {
        margin: 10px 0px 30px 0px;
    }
    .acticle-contact .margin-icon a {
        font-size: 11px;
    }
    .footer .img-my-home .img-logo {
        position: absolute;
        width: 36%;
        top: 9%;
        left: -9%;
    }
    /* search */
    .article-search .products-in-sets .img-in-sets img{
        width: 100%;
    }
    /* tin tuc */
    .block-news--content .block-content .block-content--intext {
        -webkit-line-clamp: 6;
    }
    .box-article--news .block-number .counter {
        font-size: 30px;
    }
    .box-article--news .block-title {
        font-size: 13px;
    }
     /* form login */
     .box-login .block-login--form {
        padding: 25px 15px;
        background: #fff;
    }
    .box-login .block-login--form .form-group {
        padding: 15px 0px;
    }
    .box-login {
        background: #f4f3f3;
        padding: 40px 20px;
    }
    .box-login .block-login--form .form-login .block-forgotpass {
        text-align: right;
        padding: 5px 0px 10px;
    }    
    .box-login .block-login--form .form-login .block-forgotpass a{
        font-size: 13px;
    }
    .block-login--form .login-bnt .login-form-btn {
        font-size: 13px;
        height: 35px;
    }
    .box-login .block-login--form .login-bnt {
        width: 30%;
    }
    /* // shopping card */
    .box-shopcard .main-product {
        margin-bottom: 20px;
    }
    .box-shopcard .main-product .block-addtocart {
        text-align: center;
        padding: 10px 0px;
        background: #ff6f00;
        opacity: 1;
        transition: all ease 0.5s;
    }
}
@media screen and (width: 1024px){
    .hot-products .product .add-cart {
        opacity: 1;
    }
    .prominence-products .product .add-cart {
        opacity: 1;
    }
    .wsmenu>.wsmenu-list li a {
        line-height: 60px;
        font-size: 12px;
    }
    .block-content .block-content--bg {
        margin: 0 auto;
    }
    .block-content--boxshadow h3 a {
        font-size: 17px;
    }
    .block-content--boxshadow p {
        font-size: 13px;
        height: 15px;
    }
    .box-hot-products {
        padding-top: 30px;
    }
    .block-products--title {
        font-size: 16px;
    }
    .box-hot-products .block-products {
        margin: 20px 10px;
    }
    .box-banner-company {
        padding: 53px 0px;
    }
    .box-banner-company .block-company--motto .title-commitment {
        font-size: 22px;
    }
    .box-banner-company .block-company--motto .title {
        font-size: 22px;
    }   
    .block-products-price .products-price-sale {
        font-size: 15px;
    } 
    .block-products--content {
        padding: 20px 10px;
    }
    .block-products--content h3 a {
        font-size: 14px;
        height: 35px;
    }
    .block-products .block-addtocart {
        opacity: 1;
    }
    .box-prominence-products .block-product .block-addtocart {
        opacity: 1;
    }
    .box-hot-products .block-products .block-addtocart p a {
        font-size: 13px;
    }
    .box-prominence-products .block-product .block-addtocart p a {
        font-size: 13px;
    }
    .box-prominence-products .see-all {
        padding: 20px 0px 40px;
    }
    .banner-about-us .about-us-img {
        padding: 33px 0px;
    }
    .box-products-insets .block-border-content {
        margin-top: 30px;
    }
    .banner-about-us .about-us-img .content .span-shopping {
        margin: 20px 0px 10px 0px;
    }
    .box-products-insets .block-border-content .products-name {
        padding: 10px 10px 48px 10px;
    }
    .box-products-insets .block-border-content .products-name a {
        font-size: 13px;
    }
    .box-banner-gmail {
        padding: 49px 0px;
    }
    .box-featured-news .block-featured--content a {
        margin: 0 auto;
    }
    /* gioi thieu */
    .box-introduce img{
        height: 100%;
    }
    .testimony-wrap .position {
        font-size: 14px;
    }
    /* product */
    .ftco-section .image-popup img{
        height: 577px;
    }
        /* lien he */
        iframe{
            height: 395px;
        }
    /* seach */
    .article-search .border-content .products {
        padding: 10px 5px;
        height: 60px;
    }
    /* tin tuc */
    .block-news--content .block-content .block-content--intext {
        -webkit-line-clamp: 3;
        margin: 12px 0px;
    }
    .box-article--news .block-number .counter {
        font-size: 35px;
    }
    .box-article--news .block-title {
        font-size: 15px;
    }
     /* form login */
     .box-login .block-login--form {
        padding: 25px 15px;
        background: #fff;
    }
    .box-login .block-login--form .form-group {
        padding: 15px 0px;
    }
    .box-login {
        background: #f4f3f3;
        padding: 40px 20px;
    }
    .box-login .block-login--form .form-login .block-forgotpass {
        text-align: right;
        padding: 5px 0px 10px;
    }    
    .box-login .block-login--form .form-login .block-forgotpass a{
        font-size: 13px;
    }
    .block-login--form .login-bnt .login-form-btn {
        font-size: 13px;
        height: 35px;
    }
    .box-login .block-login--form .login-bnt {
        width: 30%;
    }
     /* // shopping card */
     .box-shopcard .main-product {
        margin-bottom: 20px;
    }
    .box-shopcard .main-product .block-addtocart {
        text-align: center;
        padding: 10px 0px;
        background: #ff6f00;
        opacity: 1;
        transition: all ease 0.5s;
    }
}