

/* header */
/* menu */
.block-logo-left {
    padding: 15px 0px;
    float: left;
}
.block-logo-left img {
    width: 80%;
}
.box-header-top .block-search {
    position: relative;
    padding: 30px 0px;
}
.box-header-top .block-search .form-control {
    display: inline-block;
    border: 1px solid #ececec;
    color: #757575;
}
.box-header-top .block-search i {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 40px;
    color: #b1b1b1;
}
.box-header-top .block-contact {
    text-align: right;
    padding: 29px 0px;
    position: relative;
}
.box-header-top .block-contact p {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}
.box-header-top .block-contact a {
    margin: 0px 10px;
    font-weight: 600;
    transition: ease all 0.5s;
}
.box-header-top .block-contact p a {
    color: #ff6f00;
    text-transform: none;
    font-weight: bold;
}
.block-contact--addcart {
    position: absolute;
    content: '';
    z-index: 1;
    top: 21%;
    background: #f5a850;
    padding: 10px 15px;
    right: -2%;
    border-radius: 40%;
}
.block-contact--addcart .products-addcart {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0px;
    font-weight: 600;
    font-size: 600;
    color: #fff;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.block-header-bottom {
    border: solid 1px #ececec;
}
.wsmenu>.wsmenu-list>li>a {
    font-weight: 600;
}
.wsmenu>.wsmenu-list li a:hover {
    background: #ececec;
    text-shadow: -0.25px -0.25px 0 #373535, 0.25px 0.25px #373535;
    color: #373535 !important;
}
.wsmenu>.wsmenu-list>li:first-child>a {
    padding-left: 20px !important;
}
.box-header-top .block-contact a:hover {
    color: #ee333b;
}
.center img {
    width: 100%;
}
.slick-slide img {
    display: block;
}
.slick-dots li.slick-active button:before {
    border: 3px solid #ff6f00;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.block-slickder .slick-dots li button:before {
    border: 3px solid #ff6f00;
    border-radius: 50%;
    font-size: 0px;
    width: 15px;
    height: 15px;
    transition: all 0.5s ease;
}
.block-slickder .slick-dots {
    bottom: 10px;
}
/* het menu */

.box-header-shopcar nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

.box-header-shopcar nav .content-nav ul {
    display: flex;
}

.box-header-shopcar nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
}

.box-header-shopcar nav .content-nav ul li a:hover {
    color: #fff;
}

.box-header-shopcar .content-nav form {
    position: relative;
}

.box-header-shopcar .content-nav form input {
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}

.box-header-shopcar .content-nav form button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
}

/* modal */
.box-header-shopcard{
    display: inline;
}
.box-header-shopcard .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.box-header-shopcard .modal-content {
    margin: 0 auto;
    width: 70% !important;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.box-header-shopcard .modal-body {
    padding: 1rem;
}

.box-header-shopcard .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}

.box-header-shopcard .modal-footer>:not(:first-child) {
    margin-left: .25rem;
}


.box-header-shopcard .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

.box-header-shopcard h5.modal-title {
    font-size: 1.5rem;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cart {
    cursor: pointer;
}

#cart:hover {
    border-color: #fff;
}

/* wrapper */
.box-shopcard {
    padding: 2rem;
}
.box-shopcard .content-product{
    padding: 20px 10px;
}
.box-shopcard .content-product .content-product-h3 a{
    font-size: 18px;
    font-weight: bold;
    display: block;
    transition: all ease 0.5s;
}
.box-shopcard .content-product .content-product-h3 a:hover{
    color: #ee333b;
}
.box-shopcard .content-product .content-product-deltals {
    display: flex;
    justify-content: left;
}
.block-products-price .products-price {
    font-size: 16px;
    color: #7d7d7d;
    text-decoration: line-through;
}
.block-products-price .products-price-sale {
    color: #ff3d3d;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.box-shopcard .main-product .content-product .content-product-deltals .price {
    color: #c7b200;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 18px;
}
.box-shopcard .main-product{
    border: 1px solid #aaaaaa;
}
.box-shopcard .main-product .img-product{
    position: relative;
}
.box-shopcard .main-product .img-product .bg-images{
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.box-shopcard .main-product .img-product:hover .bg-images{
    animation: n alternate 1s;
    height: 0%;
    width: 0%;
}
.box-shopcard .content-product .content-product-deltals .price .money {
    vertical-align: middle;
}

.box-shopcard .main-product .block-addtocart .btn-cart {
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
.box-shopcard .main-product .block-addtocart:hover{
    opacity: 1;
}
.box-shopcard .main-product .block-addtocart {
    text-align: center;
    padding: 10px 0px;
    background: #ff6f00;
    opacity: 0;
    transition: all ease 0.5s;
}
.box-shopcard .content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
}
/* nav mobile */
.nav-mobile {
    display: none;
}

.nav-mobile .icon-mobile {
    padding: .5rem;
    font-size: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
}

.nav-mobile .item_menu {
    background: #f1df11;
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    padding-bottom: 1rem;
}

.item_menu ul li a {
    color: #43433e;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05rem;
}

.item_menu ul li a:hover {
    color: #fff;
}

.item_menu form {
    margin: 0 1rem;
    position: relative;
}

.item_menu form input {
    width: 100%;
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}

.item_menu form button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
}


/* cart */
.box-header-shopcard .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.box-header-shopcard .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.box-header-shopcard .cart-row {
    display: flex;
}

.box-header-shopcard  .cart-item {
    width: 45%;
}

.box-header-shopcard .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.box-header-shopcard .cart-quantity {
    width: 35%;
}

.box-header-shopcard .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.box-header-shopcard .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.box-header-shopcard .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.box-header-shopcard .btn-danger:hover {
    background-color: #CC4C4C;
}

.box-header-shopcard .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.box-header-shopcard .cart-row:last-child {
    border-bottom: 1px solid black;
}

.box-header-shopcard .cart-row:last-child .cart-column {
    border: none;
}

.box-header-shopcard .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.box-header-shopcard .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.box-header-shopcard .cart-total-price {
    color: #333;
    font-size: 1.1em;
}
.box-shopcard{
    border: 1px solid #56CCF2;
}
/* foorter */
.box-footer{
    padding: 30px 0px 5px 0px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #373535;
}
.box-footer .block-images--logo{
    padding-bottom: 20px;
}
.box-footer .block-images--logo img{
    width: 35%;
}
.box-footer .icon .article{
    margin-left: 0px;
}
.box-footer .icon a{
    margin: 0px 5px;
    transition: all ease 0.5s;
}
.box-footer .icon a:hover img{
    transform: scale(1.2);
}
.box-footer p a{
    transition: ease all 0.5s;
    color: #373535;
}
.box-footer p a:hover{
    color: #ee333b;
}
.box-footer .block-content--contact i{
    margin-right: 5px;
}
.box-footer .block-title {
    text-transform: uppercase;
    font-size: 18px;
    padding: 38px 0px 13px 0px;
    font-weight: bold;
}
.box-footer .block-footer--icon li {
    display: inline-block;
}
.box-footer .block-footer--icon li .icon {
    margin-left: 0px;
    display: block;
    text-align: center;
}
.box-footer .list-unstyled li a {
    line-height: 34px;
    font-size: 14px;
}
.box-footer .block-footer--icon li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    height: 40px;
    width: 40px;
    float: left;
    background: #efefef;
    border-radius: 50%;
    position: relative;
    margin: 0px 5px;
}
.box-footer .block-footer--icon li a i {
    line-height: 40px;
    font-size: 15px;
    color: #000000;
    transition: all ease 0.5s;
}
.box-footer .block-footer--icon li a:hover i{
    color: #ee333b;
}
.box-footer .block-images--myhome{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 41px;
    /* cursor: pointer; */
}
.box-footer .block-images--myhome .block-images--logo {
    position: absolute;
    width: 40%;
    top: 9%;
    left: 2%;
}
.box-footer .block-content--policy a{
    display: block;
    transition: ease all 0.5s;
    color: #373535;
    line-height: 35px;
}
.box-footer .block-content--policy a:hover{
    color: #ee333b;
}
.box-footer .block-images--myhome .my-home{
    width: 100%;
    height: 80%;
}
.box-footer-bottom{
    border-top: 1px solid #eae9e9;
}
.box-footer-bottom{
    color: #8a8a8a;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-footer-bottom .block-footer--content{
    padding: 10px 0px;
}
.box-footer-bottom .block-footer--content p{
    margin: 10px 0px 0px 0px;
    padding: 0;
}
.box-footer-bottom .block-footer--content .block-images-right{
    text-align: right;
}
/* back ground áº£ticle */
.box-menu-bg .block-menu-bg {
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.7);
}
.box-menu-bg .title {
    text-align: center;
}
.box-menu-bg {
    background-image: url(../public/images/du-an-thiet-ke-noi-that-biet-thu-quang-yen-quang-ninh-1.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    height: 300px;
    background-attachment: fixed;
}
.box-menu-bg .title h3 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}